*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    position:relative;
}
header{
    text-align:center;
    height:10vh;
    width:100vw;
    background-color:black;
    color:white;
    display:grid;
    place-content:center;
    text-shadow: 0 0 10px skyblue;
}
#nav{
    display:flex;
    justify-content:space-evenly;
    background-color:black;
    position:sticky;
    top:0;
}
#nav a{
    color:black;
    background:white;
    border-radius:20px;
    text-decoration:none;
    font-weight:500;
    padding:10px 20px ;
    box-shadow: 0 0 15px violet;
}
section{
    height:84vh;
    width:100vw;
    background-color:black;
    color:white;
    position:absolute;
}
#home{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    font-size:40px;
    text-shadow: 0 0 10px yellow;
}
#home #img{
    height:300px;
    width:300px;
    background-image: url(wallpaper.jpg);
    background-repeat: no-repeat;
    background-position:center;
    background-size:300px 300px;
    border:2px solid white;
    border-radius: 50%;
    box-shadow: 0 0 10px yellow;
}
#about{
    display:grid;
    place-content: center;
    text-transform:capitalize;
    font-size: 20px;
    text-align: justify;
    padding:30px 20vw;
    text-shadow:0 0 10px greenyellow;
}
#education{
    font-size: 30px;
    text-align: justify;
    padding:30px 20vw;
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    text-shadow:0 0 10px lightskyblue;
}
#education table{
    border:5px solid white;
    font-size:20px;
}
#education td,th{
    padding:10px;
    border:1px solid white;
}
#projects div{
    height:200px;
    width:300px;
    border:1px solid white;
    border-radius:20px;
    box-shadow:0 0 10px white;
    display:flex;
    align-items:center;
    justify-content:center;
}
#projects{
    display:flex;
    align-items:center;
    justify-content:space-evenly;
    text-shadow:0 0 10px orange;
}
a:hover{
    color:white;
    background:lightgreen;
    padding:10px 50px;
    transform:translate(2px,2px);
    transform: scale(0.9);
    transition:0.3s;
}
#home:target{
    z-index: 3;
    transition:0.5s;
}
#about:target{
    z-index: 3;
    transition:0.5s;
}
#section:target{
    z-index: 3;
    transition:0.5s;
}
#education:target{
    z-index: 3;
    transition:0.5s;
}

